<nav class="navbar">
  <div class="navbar-brand">Hotwire EJS</div>
  <div class="navbar-links">
    <!-- These links will be intercepted by Turbo Drive for fast, app-like navigation -->
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
</nav>
